*{
  margin:0;
}
body{
  background-color: #f5f6fa;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__stats{
  display: flex;
  justify-content: space-between;
}
.app__left{
  flex: 0.9;
}

.app__graph{
  height: 260px;
}

.app__graphTitle{
  margin-top: 20px;
  margin-bottom: 20px;

}

@media (max-width:990px){
  .app{
    flex-direction: column;
  }
}